#set class_contents = $config_json['entity_contents'].lower()
#set ClassName = $structure.name
#set Stereotype = $structure.stereotype
##
class ${ClassName} <<${Stereotype}>> {
  #if $class_contents == 'true':
    #for key, value in $structure.columns.items():
  $key : $value
    #end for
  #end if
}
