#set delegate_contents = $config_json['delegate_contents'].lower()
#set DelegateName = $structure.name
#set Stereotype = $structure.stereotype
##
abstract ${DelegateName} <<${Stereotype}>> {
  #if $delegate_contents == 'true':
    #for key, value in $structure.columns.items():
  $key : $value
    #end for
  #end if
}
